<h2>SIGN UP</h2>

<%= form_for (@user), url: signup_path do |f| %>
  <div>
    <%= f.label :user_name, "Username: " %>
    <%= f.text_field :user_name %>
  </div>
  <p></p>
  <div>
    <%= f.label :password, "Password :" %>
    <%= f.password_field :password %>
  </div>
  <p></p>
  <div>
    <%= f.label :password_confirmation, "Password Confirmation :" %>
    <%= f.password_field :password_confirmation %>
  </div>
  <p></p>
  <div>
    <%= f.label :about, "About :" %>
    <%= f.text_area :about %>
  </div>
  <p></p>
  <div>
    <%= submit_tag "Signup" %>
  </div>
<% end %>
